[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903 
# C0114 - Missing module docstring
# C0115 - Missing class docstring
# C0116 - Missing function docstring
# R0903 - Too few public methods

[FORMAT]
max-line-length=120